
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');




@import "tailwindcss"; 


