.title {
    color: red;
    font-size: 24px;
    text-align: center;

}

.button {
    margin: auto;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

}

