<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 243
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 22</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="title">
    this is center text
  </div>

  <ion-button href="https://www.youtube.com" target="_blank" id="button" size="large" color="success" >
    hello 
  </ion-button>

</ion-content> 
